/************************************************
    VARIABLES 
 ************************************************/

/************************************************
    RESET 
 ************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: OpenSans;
}

/************************************************
    UTILITIES 
 ************************************************/
.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1100px;
    max-width: 100%;
}

body {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-family: NerkoOne;
    color: #ff9614;

    text-shadow: 2px 2px 3px darkgray;
}

/************************************************
    HEADER 
 ************************************************/
header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    background-color: whitesmoke;
}

/************************************************
    MAIN 
 ************************************************/
main {
    background-color: #f6f5f3;
}

/************************************************
    FOOTER 
 ************************************************/

/************************************************
    RESPONSIVE: MOBILE-FIRST
 ************************************************/

/************************************************
    FONTS
 ************************************************/
@font-face {
    font-family: NerkoOne;
    src: url(../fonts/NerkoOne/NerkoOne-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
