/************************************************
    VARIABLES 
 ************************************************/
:root {
    --purple: #7c69a4;
    --orange: #ff9614;
}

/************************************************
    RESET 
 ************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************************************
    UTILITIES 
 ************************************************/
.container {
    margin: 0 auto;
    padding: 20px;
    width: 1100px;
    max-width: 100%;
}

body {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
}

b,
strong {
    font-family: Montserrat-Bold;
}

.shadow {
    box-shadow: 0 0 20px 1px gray;
}

img {
    max-width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    display: block;
}

ul {
    list-style-type: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-flex {
    display: flex;
}

/************************************************
    HEADER 
 ************************************************/
header {
    height: 100px;
    text-align: center;
    line-height: 100px;

    background-color: white;
}

header h1 {
    font-size: 4rem;
    font-family: NerkoOne;
    font-weight: normal;
    color: var(--orange);

    text-shadow: 2px 2px 3px darkgray;
}

/************************************************
    MAIN 
 ************************************************/
main {
    background-color: #f6f5f3;
}

/* Video Youtube */
#video h3 {
    color: gray;
    font-weight: 100;
}

#video h2 {
    color: var(--purple);
    font-family: Montserrat-Bold;
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 30px;
}

#video .row {
    display: flex;
    flex-direction: column;
}
#video .col:first-child {
    width: 100%;
    aspect-ratio: 16/9;
}
#video .col:last-child {
    background-color: white;
    padding: 30px;
}

#video ul {
    padding-bottom: 20px;
}
#video li {
    padding: 10px 0;
}

#video h4 {
    font-size: 1.5rem;
    font-family: Montserrat-Bold;
    padding-bottom: 25px;
}

/* Icone Social */
#social .container {
    display: flex;
    justify-content: space-between;
}

.container-icon {
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;

    display: inline-block;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.1s linear;
}
.container-icon:hover {
    cursor: pointer;
}
.container-icon:active {
    background-color: rgb(230, 230, 230);
    transition: background-color 0.1s linear;
}
i[class*="facebook"] {
    color: #1a77f3;
}
i[class*="twitter"] {
    color: #009eff;
}
i[class*="instagram"] {
    color: #dc3da3;
}
i[class*="pinterest"] {
    color: #e62222;
}
i[class*="youtube"] {
    color: #e62222;
}

/* Presentazione Ricetta */
#presentation .container:first-child {
    padding: 0 20px;
    padding-top: 20px;
}

#presentation h5 {
    font-family: Montserrat-Bold;
    font-size: 2rem;
}

#presentation hr {
    border-color: var(--orange);
    width: 100px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#presentation .center {
    text-align: center;
}
#presentation img {
    width: 400px;
}

#presentation p {
    font-size: 1.3rem;
    line-height: 2.3rem;
    text-align: justify;

    padding-top: 10px;
    padding-bottom: 40px;
}

/************************************************
    FOOTER 
 ************************************************/
footer {
    background-color: var(--purple);
    color: white;
}

footer,
.upper-footer,
.lower-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    padding-top: 20px;
    padding-bottom: 30px;
}

footer h6 {
    font-family: Montserrat-Bold;
    font-size: 1rem;
    padding-top: 25px;
    padding-bottom: 10px;
}

footer li {
    text-decoration: underline;
}

/************************************************
    RESPONSIVE: MOBILE-FIRST
 ************************************************/
/* TABLET */
@media screen and (min-width: 768px) {
    /***********************
        UTILITIES
     ***********************/
    .d-md-none {
        display: none;
    }

    .d-md-block {
        display: block;
    }

    .d-md-inline {
        display: inline;
    }

    .d-md-flex {
        display: flex;
    }

    .container {
        padding: 60px;
    }

    /***********************
        HEADER 
     ***********************/
    header {
        text-align: left;
        padding-left: 30px;
    }

    /***********************
        MAIN 
     ***********************/
    /* Video Youtube */
    #video h2 {
        font-size: 2.5rem;
    }
    #video ul {
        display: flex;
        flex-wrap: wrap;

        padding: 0;
    }
    #video li {
        flex-basis: calc(100% / 3);
        padding-bottom: 20px;
    }
    #video .container {
        padding-bottom: 40px;
    }

    /* Icone Social */
    #social .container {
        padding: 0 60px;
    }
    .container-icon {
        flex-basis: 16%;
        border-radius: 20px;
    }

    /* Banner Pubblicitario */
    #banner .container {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    /* Presentazione Ricetta */
    #presentation .center {
        text-align: left;
    }
    #presentation img {
        float: left;
        margin-right: 15px;
    }
    #presentation p {
        padding: 0;
        padding-bottom: 100px;
    }
    /* Devo fare 2 assegnazioni diverse per questioni di specificita' */
    #presentation .container:first-child {
        padding: 0 60px; /* UGUALE */
        padding-bottom: 10px;
    }
    #presentation .container {
        padding: 0 60px; /* UGUALE */
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    /***********************
        UTILITIES
     ***********************/
    .d-lg-none {
        display: none;
    }

    .d-lg-block {
        display: block;
    }

    .d-lg-inline {
        display: inline;
    }

    .d-lg-flex {
        display: flex;
    }

    .container {
        width: 1300px;
    }

    /***********************
        MAIN
     ***********************/
    /* Video Youtube */
    #video .row {
        flex-direction: row;
    }
    #video ul {
        flex-direction: column;
    }
    #video li {
        padding-bottom: 10px;
    }
    #video .col:first-child {
        flex-basis: 70%;
    }
    #video .col:last-child {
        flex-basis: 30%;
    }

    /* Icone Social */
    #social span {
        font-family: Montserrat-Bold;
    }

    /***********************
        FOOTER
     ***********************/
    footer {
        height: 100px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .upper-footer,
    .lower-footer {
        height: 50px;
        padding: 0 30px;
    }

    .upper-footer {
        align-items: flex-start;
        justify-content: space-around;
    }
    footer h6 {
        padding: 0;
    }

    footer ul {
        padding: 0;
    }
}

/************************************************
    FONTS
 ************************************************/
@font-face {
    font-family: NerkoOne;
    src: url(../fonts/NerkoOne/NerkoOne-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
