/************************************************
    VARIABLES 
 ************************************************/
:root {
    --purple: #7c69a4;
    --orange: #ff9614;
}

/************************************************
    RESET 
 ************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************************************
    UTILITIES 
 ************************************************/
.container {
    margin: 0 auto;
    padding: 20px;
    width: 1100px;
    max-width: 100%;
}

body {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
}

b {
    font-family: Montserrat-Bold;
}

.shadow {
    box-shadow: 0 0 20px 1px gray;
}

img {
    max-width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    color: inherit;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-flex {
    display: flex;
}

/************************************************
    HEADER 
 ************************************************/
header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    background-color: white;
}

header h1 {
    font-size: 2.5rem;
    font-family: NerkoOne;
    color: var(--orange);

    text-shadow: 2px 2px 3px darkgray;
}

/************************************************
    MAIN 
 ************************************************/
main {
    background-color: #f6f5f3;
}

/* Video Youtube */
#video h3 {
    color: gray;
    font-weight: 100;
}

#video h2 {
    color: var(--purple);
    font-family: Montserrat-Bold;
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 30px;
}

#video .row {
    display: flex;
    flex-direction: column;
}
#video .col:first-child {
    width: 100%;
    aspect-ratio: 16/9;
}
#video .col:last-child {
    background-color: white;
    padding: 30px;
    padding-bottom: 54px;
}

#video li {
    padding: 10px 0;
}

#video h4 {
    font-size: 1.5rem;
    font-family: Montserrat-Bold;
    padding-bottom: 25px;
}

/* Icone Social */
#social .container {
    display: flex;
    justify-content: space-between;
}

.container-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: white;

    display: inline-block;
}
i[class*="facebook"] {
    color: #1a77f3;
}
i[class*="twitter"] {
    color: #009eff;
}
i[class*="instagram"] {
    color: #dc3da3;
}
i[class*="pinterest"] {
    color: #e62222;
}
i[class*="youtube"] {
    color: #e62222;
}

/* Presentazione Ricetta */
#presentation h5 {
    font-family: Montserrat-Bold;
    font-size: 2rem;
}

#presentation hr {
    border-color: var(--orange);
    width: 100px;
    margin-top: 15px;
    margin-bottom: 20px;
}

#presentation img {
}
#video {
    display: none;
}
/************************************************
    FOOTER 
 ************************************************/

/************************************************
    RESPONSIVE: MOBILE-FIRST
 ************************************************/
/* TABLET */
@media screen and (min-width: 768px) {
    .d-md-none {
        display: none;
    }

    .d-md-block {
        display: block;
    }

    .d-md-inline {
        display: inline;
    }

    .d-md-flex {
        display: flex;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    .d-lg-none {
        display: none;
    }

    .d-lg-block {
        display: block;
    }

    .d-lg-inline {
        display: inline;
    }

    .d-lg-flex {
        display: flex;
    }
}

/************************************************
    FONTS
 ************************************************/
@font-face {
    font-family: NerkoOne;
    src: url(../fonts/NerkoOne/NerkoOne-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
