/************************************************
    VARIABLES 
 ************************************************/

/************************************************
    RESET 
 ************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: OpenSans;
}

/************************************************
    UTILITIES 
 ************************************************/
.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1100px;
    max-width: 100%;
}

/************************************************
    HEADER 
 ************************************************/

/************************************************
    MAIN 
 ************************************************/

/************************************************
    FOOTER 
 ************************************************/
